{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Add property</h1>
        {{ include ('admin/property/form.html.twig', {form: form, button: 'Add'}) }}
    </div>
{% endblock %}