{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Update option</h1>
        {{ include ('admin/option/form.html.twig', {form: form, button: 'Update'}) }}
    </div>
{% endblock %}